<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.newsmth.dirac">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name=".Dirac"
        android:allowBackup="true"
        android:icon="@mipmap/a"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.BoardActivity" />
        </activity>
        <activity
            android:name=".activity.ImagePagerActivity"
            android:theme="@style/AppTheme.Transition.Transparent.BlackTitle" />

        <activity
            android:name=".activity.BoardSearchActivity"
            android:theme="@style/AppTheme.Transition.Transparent" />

        <activity
            android:name=".activity.BoardActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transition.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.newsmth.net"
                    android:pathPrefix="/board/"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.newsmth.net"
                    android:path="/bbsdoc.php"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.newsmth.net"
                    android:pathPrefix="/nForum/board/"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.EditPostActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".activity.ThreadActivity"
            android:theme="@style/AppTheme.Transition.Transparent.Immersive">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.newsmth.net"
                    android:pathPrefix="/article/"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.newsmth.net"
                    android:path="/bbstcon.php"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.newsmth.net"
                    android:pathPrefix="/nForum/article/"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.PersonActivity"
            android:theme="@style/AppTheme.Transition" />

        <service
            android:name=".ip.a"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".user.BackgroundLoginService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".publish.PublishService" />
        <service android:name=".audio.MusicService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".audio.ui.FullScreenPlayerActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".provider.SearchProvider"
            android:authorities="net.newsmth.dirac.provider.SearchProvider" />

        <provider
            android:name=".provider.NewsmthProvider"
            android:authorities="net.newsmth.dirac.provider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.newsmth.dirac.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
